<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome, {{ username }}!</h1>

    <h2>Appointments for Today:</h2>
    <div class="home-container">
        <table>
            <thead>
                <tr>
                    <th>Appointment ID</th>
                    <th>Hairdresser</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Booked By</th>
                    <th>Bookers Email</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment['id'] }}</td>
                    <td>{{ appointment['hairdresser'] }}</td>
                    <td>{{ appointment['date'] }}</td>
                    <td>{{ appointment['time'] }}</td>
                    <td>{{ appointment['booked_by'] or '-' }}</td>
                    <td>{{ appointment['booker_email'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table><br><br>

        <a href="{{ url_for('create_appointment') }}">Create Appointment</a>
        <a href="{{ url_for('book_appointment') }}">Book Appointment</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</body>
</html>